# IDE and SCM files
nbproject
.project
.idea
.svn
*~
.swp

# generated folders
om
map
base

test/model/fixtures/data/sql
test/model/fixtures/data/database.sqlite
test/model/fixtures/plugins/iceSpamControlPlugin
test/model/fixtures/lib/model
test/model/fixtures/log
test/model/fixtures/cache


